@import url("component/reset.scss");
@import url("component/header.scss");
@import url("component/hot.scss");
@import url("component/footer.scss");
@import url("component/paging.scss");
.main{
    width: 1100px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.details{
    width: 880px;
    height: auto;
    overflow: hidden;
    float: right;
    margin: 0 auto;
    background: #fff;
    position: relative;
}
.details .top{
    float: right;
    width: 880px;
    height: 35px;
    border: 1px solid #dcdcdc;
    background: #FFFFFF;
    margin: 5px;
}
.details .top>p{
    margin: 5px;
    width: 260px;
    height: 26px;
    line-height: 26px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #666;
    background: #fbfbfd;
}
.details .top>p .t{
    display: inline-block;
    width: 45px;
    float: left;
    height: 26px;
    padding-right: 16px;
    border-right: 1px solid #E1E1E1;
}
.details .top>p>a:nth-child(2){
    background: url("/images/sfy/icon-down.jpg") 38px 7px no-repeat;
}
.details .top>p>a:nth-child(3){
    background: url("/images/sfy/icon-up.jpg") 38px 7px no-repeat;
}
.details .top>p>span{
    float: right;
}
.details .top>i{
    float: right;
    line-height: 36px;
    font-style: normal;
    color: #f39800;
    font-size: 12px;
    margin-right: 5px;
}
.details #proList{
    width: 880px;
    margin-right: 5px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
    border: 1px solid #E1E1E1;
}

.details #proList li{
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    width: 200px;
    height: 290px;
    border: 1px solid #CCCCCC;
}
.details #proList li:hover{
    border: 1px solid #c7000a;
}
//.list #proList li:hover{
//  border:3px solid #ca141d;
//}
.details #proList li .pic img{
    width: 198px;
    height: 220px;
}
.details #proList li .description{
    width: 200px;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    color: #CCCCCC;
}
.details #proList li span{
    float: left;
    
}
.details #proList li .nowprice{
    font-style: normal;
    font-size: 15px;
    color: #F72862;
    font-weight: 900px;
    margin-top: 5px;
}
.details #proList li .nowprice>b{
    font-size: 12px;
}
.details #proList li .origprice{
    text-decoration: line-through;
    margin-top: 9px;
    color: #aaaaaa;
    margin-left: 5px;
    font-size: 10px;
}
.details #proList li>b{
    float: right;
    color: #999;
    margin-top: 7px;
    font-size: 12px;
    margin-right: 19px;
}
.details #proList li>b i{
    color:#e4393c;
    font-size: 14px;
    font-style: normal;
}
