<div class="head">
	<div class="wrap">
		<!--放商店的logo-->
		<div class="logo">
			<div class="newlogo">
				<a href=""></a>
			</div>
			<!--公司品牌logo-->
			<div class="nowsvg">
				<span><a href=""></a></span>
				<span><a href=""></a></span>
				<span><a href=""></a></span>
				<span><a href=""></a></span>
			</div>
		</div>
		<!--搜索框-->
		<div class="search">
			<div class="searchbox">
				<input src="" type="image"/>
				<input type="text"/>
			</div>
		</div>
	</div>
	<div class="nav1">
		
	</div>
	导航栏
	<div class="main_nav_wrap">
		<div class="warpper main_nav">
			<ul>
				<li>
					<dl>
						<dt sort_dt>
							<span style="border: 0;">商品详情</span>
							<b></b>
						</dt>
						<dd>
							<div class="slide">
								<ul class="tit">
									<li><a href="">双飞燕</a></li>
									<li><a href="">双飞燕</a></li>
									<li><a href="">双飞燕</a></li>
									<li><a href="">双飞燕</a></li>
									<li><a href="">双飞燕</a></li>
								</ul>
							</div>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#">关于</a>
							<!--放上下小箭头-->
							<b></b>
						</dt>
						<dd>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#">服务</a>
							<!--放上下小箭头-->
							<b></b>
						</dt>
						<dd>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#">营销</a>
							<!--放上下小箭头-->
							<b></b>
						</dt>
						<dd>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#">加盟</a>
							<!--放上下小箭头-->
							<b></b>
						</dt>
						<dd>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<a href="#">新闻</a>
							<!--放上下小箭头-->
							<b></b>
						</dt>
						<dd>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
							<p><a href="">童趣内涵</a></p>
						</dd>
					</dl>
				</li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
