.head{
	height: 100px;
	border:1px solid black;
	//background: url("/images/main/topbg.jpg") 0 center repeat-x;
}
.top{
    background: #f4f0f0;
    width: 1100px;
    height: 26.5px;
    margin: 0 auto;
    line-height: 26.5px;
    
}
.top .left{
    float:left;
    font-size: 13px;
}
.top .left a{
    color: #666;
    cursor: pointer;
}
.top .left a:hover{
    color:#B80C00;
    text-decoration: underline;
}
.top .right{
    float:right;
}
.top .right a{
    margin: 0 5px;
    font-size: 13px;
    display: inline-block;
    color: #666;
    
}
.top .right a:hover{
    color:#B80C00;
    text-decoration: underline;
}
.wrap{
	width:1100px;
	margin:0 auto;
}
.logo{
	width:840px;
	height: 100px;
	float:left;
	padding-left:6px;
	overflow: hidden;
}
.newlogo{
	line-height:100px;
	height: 100px;
	width:230px;
	float:left;
	margin:0 auto 0 0;
}
.newlogo>a{
	display:block;
	height:100px;
	//margin-top:10px;
	background:url("/images/main/logo.png") 0px 17px no-repeat;
}
.logo .nowsvg{
	margin:10px 0 auto;
	width:540px;
	height:100px;
	float:right;
	display:inline;
	background:url("/images/sfy/logobg.png") no-repeat;
}
.logo .nowsvg .span5{
    display: inline-block;
    float: left;
    height: 80px;
    margin-bottom: 9px;
    margin: 0 35px;
}
.logo .nowsvg .span5 a img{
    margin-top: 24px;
}
.search{
    float: right;
    width: 210px;
    margin-top: 40px;
    overflow: hidden;
}
.searchbox{
    float:left;
    border: 3px solid #b60005;
    width: 200px;
    height: 28px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.search .searchbox input:nth-child(1){
    float:right;
    outline: none;
}
.search .searchbox .text1{
    height: 28px;
    line-height: 28px;
    outline: none;
    width: 153px;
    padding: 0 8px;
    color: #999999;
    background: #fafafa;
    float: left;
    border: none;
}
.nav{
    height: 40px;
    width:100%;
    background: #ca141d;
}
.main_nav{
    height: 40px;
    width: 1100px;
    margin: 0 auto;
}
.main_nav .left{
    width: 860px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    float: left;
}
.main_nav>ul>li{
    float: left;
    border-left: 1px solid #b80c00;
}
.main_nav>ul>li:nth-child(1){
    width: 205px;
    height:40px;
    z-index: 999;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.main_nav>ul>li:nth-child(1) ul{
    background: #FAFAFA;
    color: #000000;
    width: 208px;
    position: absolute;
}
.main_nav>ul>li:nth-child(1) ul li{
    border-top: 1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
}
//.main_nav>ul>li:nth-child(1):hover ul{
//  display: block;
//}
.main_nav>ul>li:nth-child(1) ul li:hover{
    background: red;
    transition: background-color .2s linear;
}
.main_nav .left>li{
    width: 105px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.main_nav .left .sort1 a{
    font-size: 14px;
    color: #FFFFFF;
}
.main_nav .left .sort2{
    position: relative;
    z-index: 999;
}
.main_nav .left .sort2 p{
}
.main_nav .left .sort2 i{
    width: 12px;
    height: 8px;
    position: absolute;
    background: url("/images/sfy/126.gif") no-repeat;
    right: 26px;
    top: 40%;
}
.main_nav .left .sort2 .xiaofenlei{
    position: absolute;
    width:105px;
    background: #FFFFFF;
    font-size: 12px;
    color: #666;
    display: none;
}
//.main_nav .left .sort2:hover .xiaofenlei{
//  display: block;
//}
.main_nav .left .sort2 .xiaofenlei p{
    height: 25px;
    line-height: 25px;
}
.main_nav .left .sort2 .xiaofenlei p:hover{
    background: #d91411;
    transition: background-color .2s linear; 
}
.main_nav .right{
    margin-top: 5px;
    width: 136px;
    height: 30px;
    background: #FFFFFF;
    float: right;
    position: relative;
}
.main_nav .right b{
    display: block;
    width: 20px;
    height: 15px;
    float: left;
    position:absolute;
    left: 32px;
    top: 6px;
    background: url("/images/sfy/settleup.gif") no-repeat;
}
.main_nav .right p{
    position: absolute;
    right: 42px;
    top: 7px;
    font-size: 14px;
    float: right;
}
