.head{
	height: 100px;
	border:1px solid black;
	//background: url("/images/main/topbg.jpg") 0 center repeat-x;
}
.wrap{
	width:1100px;
	margin:0 auto;
}
.logo{
	width:840px;
	float:left;
	padding-left:6px;
}
.newlogo{
	line-height:110px;
	width:230px;
	float:left;
	margin:0 auto 0 0;
}
.newlogo>a{
	display:block;
	height:110px;
	margin-top:10px;
	background:url("/images/main/logo.png") no-repeat;
}
.logo .nowsvg{
	margin:0 70px 0 auto;
	width:500px;
	height:100px;
	float:right;
	display:inline;
}
.logo .nowsvg {}
