.hotList{
    float: left;
    width: 203px;
    border: 1px solid #d0d0d0;
    border-top: 2px solid #d0d0d0;
    margin-top: 5px;
}
.hotList>p{
    font-size: 20px;
    color: #f18c1a;
    text-align: center;
    line-height: 24px;
    height: 28px;
    padding-top: 10px;
    font-weight: bond;
}
.hotList #hotList{}
.hotList #hotList>.list{
    width: 200px;
    height: 118px;
    border-top: 1px dashed #e1e1e1;
    position: relative;
}
.hotList #hotList>.list .num{
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #cc0000;
    position: absolute;
    left: 0;
    top: 0;
}   
.hotList #hotList>.list .pic{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}          
.hotList #hotList>.list .pic>img{
    width: 80px;
    height: 80px;
    position: absolute;
}
.hotList #hotList>.list .pic>img:hover{
    width: 120px;
    height: 120px;
    left: 0px;
    top:-10px
}
.hotList #hotList>.list .description{
    display: block;
    color: #666;
    width: 100px; 
    height: 32px;
    padding-top: 20px;
    overflow: hidden;
    float: right;
    cursor: pointer;
}
.hotList #hotList>.list span{
    color: #EA493D;
    font-size: 18px;
    width: 100px;
    height: 18px;
    float: right;
    padding-left: 5px;
    display: block;
}
.hotList #hotList>.list>b{
    color: #999;
    font-size: 12px;
    width: 100px;
    height: 18px;
    display: block;
    float: right;
    margin-top: 10px;
}
.hotList #hotList>.list>b>i{
    color: #EA493D;
    margin-right: 5px;
}
