.list{
    width: 1100px;
    height: 775px;
    margin: 0 auto;
    background: #fff;
}
.list #proList{
    height: 775px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.list #proList>a img{
    width: 1100px;
    height: 160px;
}
.list #proList li{
    float: left;
    width: 260px;
    height: 290px;
    margin-top: 13px;
    border: 1px solid #CCCCCC;
}
//.list #proList li:hover{
//  border:3px solid #ca141d;
//}
.list #proList li .pic img{
    width: 260px;
    height: 220px;
}
.list #proList li .description{
    width: 238px;
    height: 30px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 15px;
    color: #CCCCCC;
}
.list #proList li span{
    float: left;
    
}
.list #proList li .nowprice{
    font-style: normal;
    font-size: 20px;
    color: #F72862;
    font-weight: 900px;
    margin-left: 12px;
    margin-top: 5px;
}
.list #proList li .nowprice>b{
    font-size: 12px;
}
.list #proList li .origprice{
    text-decoration: line-through;
    margin-top: 11px;
    color: #aaaaaa;
    margin-left: 5px;
    font-size: 10px;
}
.list #proList .lists a>b{
    float: right;
    color: #999;
    margin-top: 9px;
    margin-right: 19px;
}
.list #proList li>b i{
    color:#e4393c;
    font-size: 14px;
    font-style: normal;
}
